@use "../bootstrap_files/css/bootstrap-grid";

$default-bold: 600;

.highlight {
  font-weight: $default-bold;
  color: #7e7e7e;
}

.resume-highlight {
  font-weight: $default-bold;
  color: #A70AF7;
}

.resume-highlight a {
  display: inline;
}

.first-para {
  @extend .mt-4;
  @extend .mb-3;
}

.alt-para {
  @extend .mb-3;
}


.circular-img {
  border-radius: 50%;
  object-fit: contain;
}

@media (max-width: 767.98px) { // Targets screens smaller than Bootstrap's 'md' breakpoint (768px)
  .ftco-about {
    .img-about {
      min-height: 500px;
      width: 100%;
      display: flex;

      > .img { // This targets the div with the background-image
        width: 100%;
        height: 100%;
        background-size: contain; // Changed from 'cover' to 'contain'
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}


// a.no-color {
//   color: rgb(0, 0, 0, 1.0);
//   text-decoration: underline;
// }