@use "../bootstrap_files/css/bootstrap-grid";

$default-bold: 600;

.highlight {
  font-weight: $default-bold;
  color: #7e7e7e;
}

.resume-highlight {
  font-weight: $default-bold;
  color: #A70AF7;
}

.resume-highlight a {
  display: inline;
}

.first-para {
  @extend .mt-4;
  @extend .mb-3;
}

.alt-para {
  @extend .mb-3;
}


.circular-img {
  border-radius: 50%;
  object-fit: contain;
}

// a.no-color {
//   color: rgb(0, 0, 0, 1.0);
//   text-decoration: underline;
// }