$theme-primary: #f8f3d4;
$theme-secondary: #00b8a9;
$theme-accent1: #f6416c;
$theme-accent2: #ffde7d;

.profile-img {
  width: 100%;
}

.navbar-right li a {
  text-align: right;
}

.pos-top-trianlge-sep {
  height: 80px;
  background-image: linear-gradient(
    to bottom right,
    $theme-secondary 49%,
    $theme-primary 50%
  );
}

.headings {
  text-decoration: underline;
  margin-bottom: 60px;
}

#allen {
  font-size: 90px;
}

#intro {
  background-color: $theme-secondary;
}

#career {
  background-color: $theme-primary;
}

#experience {
    background-color: $theme-secondary;
}

#projects {
  background-color: $theme-secondary;
}
